<meta charset="UTF-8">

<script>

    var numTabuada = 8;

    document.write(numTabuada + " vezes 1 é " + (numTabuada * 1) + "<br>");
    document.write(numTabuada + " vezes 2 é " + (numTabuada * 2) + "<br>");
    document.write(numTabuada + " vezes 3 é " + (numTabuada * 3) + "<br>");
    document.write(numTabuada + " vezes 4 é " + (numTabuada * 4) + "<br>");
    document.write(numTabuada + " vezes 5 é " + (numTabuada * 5) + "<br>");
    document.write(numTabuada + " vezes 6 é " + (numTabuada * 6) + "<br>");
    document.write(numTabuada + " vezes 7 é " + (numTabuada * 7) + "<br>");
    document.write(numTabuada + " vezes 8 é " + (numTabuada * 8) + "<br>");
    document.write(numTabuada + " vezes 9 é " + (numTabuada * 9) + "<br>");
    document.write(numTabuada + " vezes 10 é " + (numTabuada * 10) + "<br>");

</script>