<meta charset="utf-8">

<h3>Álcool ou Gasolina?</h3>

<script type="text/javascript">
	
	var tanque = 40;
	var caminhoComGasolina = 480;
	var consumoDeGasolina = caminhoComGasolina / tanque;

	document.write(" O consumo de gasolina foi de " + consumoDeGasolina + " KM por litro.");

	var tanque = 40;
	var caminhoComAlcool = 300;
	var consumoDeAlcool = caminhoComAlcool / tanque;
	document.write("<br>");	

	document.write("<br>");	
	document.write(" O consumo de álcool foi de " + consumoDeAlcool + " KM por litro.");


</script>