<meta charset="utf-8">
<canvas width="600" height="400"></canvas>

<script>
    var tela = document.querySelector('canvas');
    var pincel = tela.getContext('2d');

    pincel.fillStyle = 'grey';
    pincel.fillRect(0, 0, 600, 400);

    var clique;

    function desenhaCirculo(evento) {

        if (clique) {
            var x = evento.pageX - tela.offsetLeft;
            var y = evento.pageY - tela.offsetTop;
            pincel.fillStyle = 'blue';
            pincel.beginPath();
            pincel.arc(x, y, 10, 0, 2 * 3.14);
            pincel.fill();
        }
    }

    tela.onmousemove = desenhaCirculo;

    tela.onmousedown = function(){
        clique = true;
    }

    tela.onmouseup = function(){
        clique = false;
    }    

</script>