<meta charset="utf-8">
<canvas width="600" height="400"> </canvas>
<br>
Escolha uma cor <input type="color">

<script>
    var inputCor = document.querySelector('input');
    var btnSalvar = document.querySelector('button');
    var tela = document.querySelector('canvas');
    var pincel = tela.getContext('2d');

    pincel.fillStyle = 'lightgrey';
    pincel.fillRect(0, 0, 600, 400);

    var clique;

    function desenhaCirculo(evento) {

        if (clique) {
            var x = evento.pageX - tela.offsetLeft;
            var y = evento.pageY - tela.offsetTop;
            pincel.fillStyle = inputCor.value;
            pincel.beginPath();
            pincel.arc(x, y, 10, 0, 2 * 3.14);
            pincel.fill();
        }
    }

    tela.onmousemove = desenhaCirculo;

    tela.onmousedown = function(){
        clique = true;
    }

    tela.onmouseup = function(){
        clique = false;
    }

</script>