<canvas width="600" height="400">
	

</canvas>

<script type="text/javascript">
	
	var tela = document.querySelector("canvas");
	var pincel = tela.getContext("2d");

	pincel.fillStyle = "lightgrey";
	pincel.fillRect(0,0,600,400);

	var cores = ["blue","red","green"];
	var indiceCorAtual = 0;	
	var raio = 10;

	function desenhaCirculo(evento) {

		var x = evento.pageX - tela.offsetLeft;
		var y = evento.pageY - tela.offsetTop;

		if(evento.shiftKey && evento.altKey){
			alert("Só pressione uma tecla por vez!");
		}else if (evento.shiftKey && raio < 40) {

           raio = raio + 10;

           console.log(raio);
        }else if (evento.altKey && raio > 10) {

           raio = raio - 5;

           console.log(raio);
        }
		

		pincel.fillStyle = cores[indiceCorAtual];
		pincel.beginPath();
		pincel.arc(x, y, raio, 0, 2 * 3.14);
		pincel.fill();

		console.log("valor de x: "+ x + ", "+ "valor de y: "+ y);
	}


	function mudaCor(evento) {

		indiceCorAtual++;
			
		if (indiceCorAtual > cores.length) {
			indiceCorAtual = 0;
		}
		console.log(indiceCorAtual);
		return false;
	}


	tela.onclick = desenhaCirculo;
	tela.oncontextmenu = mudaCor;

</script>