<canvas width="400" height="400">
	
</canvas>

<script type="text/javascript">
	
	var tela = document.querySelector("canvas");
	var pincel = tela.getContext("2d");

	function desenhaEsquadro(xa,ya,xc,yc,cor) {
	
	pincel.fillStyle = cor;
	pincel.beginPath();
	pincel.moveTo(xa,ya);
	pincel.lineTo(xa,yc);
	pincel.lineTo(xc,yc);
	pincel.fill();

	}

	desenhaEsquadro(50,50,400,400,"black");
	desenhaEsquadro(100,175,275,350,"white");

</script>