<meta charset="utf-8">

<canvas width="700" height="500">
	
</canvas>

<script>
	
	
	function desenhaQuadrado(x, y, tamanho, cor) {

		var tela = document.querySelector("canvas");
		var pincel = tela.getContext("2d");

		pincel.fillStyle = cor;
		pincel.fillRect(x, y, tamanho, tamanho);
		pincel.fillStroke = 'black';
        pincel.strokeRect(x, y, tamanho, tamanho);
	}

	function desenhaTexto(texto, x, y) {
		var tela = document.querySelector('canvas');
    	var pincel = tela.getContext('2d');

		pincel.font = "20px Georgia";
		pincel.fillStyle = "black";
		pincel.fillText(texto, x, y);

	}

	desenhaTexto("Qual é a Fração?", 50, 30);
	desenhaQuadrado(50, 50, 100, 'green');
    desenhaQuadrado(150, 50, 100, 'green');
    desenhaQuadrado(250, 50, 100, 'green');
    desenhaQuadrado(350, 50, 100, 'white');

</script>