<meta charset="UTF-8">

<input/>

<button>Ver resultado</button>

<script>

	function sorteia() {
		return Math.round(Math.random() * 10);
	}

	function sorteiaNumeros(quantidade) {
		var segredos = [];

		var contador = 1;

		while(contador <= quantidade) {

			var numAleatorio = sorteia();

			if (numAleatorio !== 0) {

				var achou = false;

				for(var posicao = 0; posicao < segredos.length; posicao++){
					if (numAleatorio == segredos[posicao]) {
						achou = true;
						break;
					}
				}
				if (achou == false) {
					segredos.push(numAleatorio);
					contador++;
				}
			}

		}
		return segredos;
	}

	var segredos = sorteiaNumeros(4);

	console.log(segredos);


	var campoTexto = document.querySelector("input");
	
	campoTexto.focus();

	function verifica() {

		var achou = false;

		for(var posicao = 0; posicao < segredos.length ; posicao++) {

			if(campoTexto.value == segredos[posicao]) {
				alert("Você acertou!");
				achou = true;
				break;
			}
		}
		if(achou == false){
			alert("Você errou!");
		}
	}

	var botao = document.querySelector("button");

	botao.onclick = verifica;

</script>