<meta charset="UTF-8">

<h1>Receitas do Yan</h1>

<script>
    var ingredientes = [];

    var quantidade = parseInt(prompt("Quantos ingredientes você vai adicionar?"));

    var contador = 1;

    while( contador <= quantidade) {

        var ingrediente = prompt("Informe o ingrediente " + contador);
        
        var repitiu = false;

        for(var posicao = 0; posicao < ingredientes.length; posicao++) {
        	if(ingredientes[posicao] == ingrediente){
        		alert("Ingrediente já inserido, tente outro.");
        		repitiu = true;
        		break;
        	}
        }   
        if(repitiu == false) {
        	ingredientes.push(ingrediente);
        	contador++;
        }	
    }

    for(var posicao = 0; posicao < ingredientes.length; posicao++) {
        		document.write("Ingrediente "+posicao+" é: "+ingredientes[posicao]);
        		document.write("<br>");	
  	}  
    console.log(ingredientes);
</script>