body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-site {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.profile-foto {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    width: 15%;
    position: relative;
    top: 250px;
}

#rodape-pagina {
    background-color: #000;
	color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

main a {
    color: #851944;
}

.navegacao-site a {
    color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
    text-transform: lowercase;
}

.citacao, .navegacao-site, #rodape-pagina {
    padding: 10px;
}

.citacao {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
}

.corpo-site {
    margin: 0 auto;
    width: 720px;
    padding: 30px 0;
    padding-bottom: 80px;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0%;
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}

main {
    float: left;
    width: 85%;
}

.navegacao-site, .profile-foto {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}