body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-site {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

#rodape-pagina {
    background-color: #000;
	color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

main a {
    color: #851944;
}

.corpo-site {
    margin: 0 auto;
    width: 720px;
    padding: 30px 0;
    padding-bottom: 80px;
}

#rodape-pagina {
    padding: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.artigo {
    padding-bottom: 30px;
    border-bottom: 1px solid  #ccc; 
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}