<meta charset="UTF-8">

<input/>

<button>Ver resultado</button>

<script>

	var segredo = Math.round(Math.random() * 10);

	var campoTexto = document.querySelector("input");
	
	campoTexto.focus();

	function verifica() {

		if(campoTexto.value == segredo) {
			alert("Você acertou!");
		}else {
			alert("Você errou!");
			campoTexto.value = "";
			campoTexto.focus();
		}
	}

	var botao = document.querySelector("button");

	botao.onclick = verifica;


</script>