<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

}

    function mostra(frase) {

        document.write("<big>" + frase + "</big>");
        pulaLinha();
}
	
	function calculaImc(peso, altura) {

		imc = peso / (altura * altura);
		mostra("O IMC calculado é " + imc);
		pulaLinha();

        return imc;
}

    function verificaImc(imc) {

        if(imc < 18.5) {
            mostra("Seu IMC está abaixo do ideal.");
        }

        if(imc >= 18.5 && imc <= 35) {
            mostra("Seu IMC está na faixa ideal.");
        }

        if(imc > 35) {
            mostra("Seu IMC está acima do ideal.");
        }
}

verificaImc(calculaImc(72,1.85));

</script>