<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

}

    function mostra(frase) {

        document.write("<big>" + frase + "</big>");
        pulaLinha();
}
	
	function calculaPontos(vitorias, empates) {

		var pontos = (parseInt(vitorias) * 3 + parseInt(empates));
		return pontos;
}

	function comparaPontuacaoAno(pontuacaoAnterior, PontuacaoAtual) {

		if (PontuacaoAtual > pontuacaoAnterior) {

			mostra("Seu time está melhor do que no ano passado!");
		}

		if (PontuacaoAtual < pontuacaoAnterior) {

			mostra("Seu time está pior do que no ano passado!");
		}
		if (PontuacaoAtual == pontuacaoAnterior) {

			mostra("Seu time está igual ao ano passado!");
		}
}

var time = prompt("Informe o nome do seu time");
var vitorias = prompt("Informe o número de vitórias do seu time.");
var empates = prompt("Informe o número de empates do seu time.");
var pontuacaoAnterior = 30;

mostra("A pontuação do ano passado é: " + pontuacaoAnterior + " pontos");

mostra("A pontuação desse ano é: " + calculaPontos(vitorias, empates) + " pontos");

comparaPontuacaoAno(pontuacaoAnterior,calculaPontos(vitorias, empates));

</script>