<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

}

    function mostra(frase) {

        document.write("<big>" + frase + "</big>");
        pulaLinha();
}
	
	function calculaPontos(vitorias, empates) {

		var pontos = (parseInt(vitorias) * 3 + parseInt(empates));
		return pontos;
}

var time = prompt("Informe o nome do seu time");
var vitorias = prompt("Informe o número de vitórias do seu time.");
var empates = prompt("Informe o número de empates do seu time.");

mostra("Seu time " + time + " tem a seguinte pontuação: " + calculaPontos(vitorias, empates) + " pontos");

</script>