<meta charset="utf-8">

<script type="text/javascript">
	
	function pulaLinha() {

		document.write("<br>");

	}

	function mostra(frase) {

		document.write("<big>" + frase + "</big>");
		pulaLinha();

	}

	function validaChute(chute) {

		var numAleatorio = Math.round(Math.random() * 10);

		if (chute == numAleatorio) {
			mostra("Parabéns. Você acertou!");
		} else {
			mostra("Desculpe. Você errou! O número computado é: " + numAleatorio);
		}
	}

	mostra("<h3> Jogo da Advinhação </h3>");
	var chute = parseInt(prompt("Digite seu chute: "));

	validaChute(chute);

</script>