<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    function autorizaDirigir(idade,temCarteira) {

    	if(idade >= 18 && temCarteira == "S"){
    		mostra("Você pode dirigir!");
    	} else {
    		mostra("Você Não pode dirigir!");
    	}

    }

   var idade = parseInt(prompt("Qual é sua idade?"));
   var temCarteira = prompt("Tem carteira? Responda S ou N");

   autorizaDirigir(idade,temCarteira);

</script>