<meta charset="UTF-8">

<script>

    function pulaLinha() {

    document.write("<br>");
    document.write("<br>");
}

function mostra(frase) {

    document.write(frase);
    pulaLinha();
}

var limiteAno = parseInt(prompt("Informe o ano limite."));
var anoCopa = 1930;

while(anoCopa <= limiteAno){
	mostra("Teve copa em: " + anoCopa);
	anoCopa = anoCopa + 4;
}

mostra("Fim");

</script>