<meta charset="UTF-8">

<script>

    function pulaLinha() {

    document.write("<br>");
    document.write("<br>");
}

function mostra(frase) {

    document.write(frase);
    pulaLinha();
}

var limite = 0;
var numero = 20;

while(numero >= limite){

	mostra("O número é: " + numero);
	
	numero = numero - 1;
}

mostra("Fim");

</script>