<meta charset="UTF-8">

<script>

    function pulaLinha() {

    document.write("<br>");
    document.write("<br>");
}

function mostra(frase) {

    document.write(frase);
    pulaLinha();
}

var limite = 40;
var numero = 30;

while(numero <= limite){

	if (numero == 33 || numero == 37){
		pulaLinha();
	} else {
		mostra(numero);
	}
	
	numero = numero + 1;
}

mostra("Fim");

</script>