<meta charset="UTF-8">

<script>

    function pulaLinha() {

    document.write("<br>");
    document.write("<br>");
}

function mostra(frase) {

    document.write(frase);
    pulaLinha();
}

for( var i = 0; i < 10; i++ ) {
    alert( "O resultado é " + (2 * i) );
}

mostra("While");

var i = 0;

while(i < 10) {

	mostra("O resultado é: "+ (2 * i));
	i++;
}

</script>