<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
     
    }

    function mostra(frase){

        document.write(frase);
        pulaLinha();
    }

    for(var linha = 0; linha < 10; linha++) {

    	for(var coluna = 0; coluna < 50; coluna++) {
    		document.write("*");
    	}
    	pulaLinha();
    }

</script>