<meta charset="UTF-8">

<script>

    function pulaLinha() {

    document.write("<br>");
    document.write("<br>");
}

function mostra(frase) {

    document.write(frase);
    pulaLinha();
}

var totalFamiliares = parseInt(prompt("Informe o total de familiares da sua família."));

var totalIdades = 0;
var contador = 1;

while(contador <= totalFamiliares) {
	idadeFamiliar = parseInt(prompt("Informe a idade do familiar"));
	totalIdades = totalIdades + idadeFamiliar;
	contador++;
}

var mediaDasIdades = totalIdades/totalFamiliares;

mostra("A média de idades da sua família é: " + mediaDasIdades);

</script>