<meta charset="UTF-8">

<script>

    function pulaLinha() {

    document.write("<br>");
    document.write("<br>");
}

function mostra(frase) {

    document.write(frase);
    pulaLinha();
}

var limite = parseInt(prompt("Informe o número limite."));
var numero = 0;

while(numero < limite){
	numero = numero + 2;
	mostra("O número par é: " + numero);
}

mostra("Fim");

</script>