<meta charset="utf-8">
<h1>Meu primeiro teste!</h1>
<br>
Seria isso um programa? Descubra isso visitando o Alura <a href="http://www.alura.com.br">aqui</a>

<script type="text/javascript">
	alert("Isso sim é um programa");
</script>