<meta charset="UTF-8">

<script>

	var puloLinha = "<br><br>";
    var ano = 2016;

    document.write("Flávio tem " + (ano - 1977) + " anos");
    document.write(puloLinha);
    document.write("Joaquim tem " + (ano - 1996) + " anos");
    document.write(puloLinha);

    ano = 2017;
    document.write("Barney tem " + (ano - 1976) + " anos");
    document.write(puloLinha);

</script>