<meta charset="UTF-8">

<script>

	function pulaLinha() {

		document.write("<br>");
		document.write("<br>");
	}

	function mostra(valor) {

		document.write(valor);
		pulaLinha();
	}

	var quantidadeAnos = 2018 - 1500;
	var quantidadeGeracoes = quantidadeAnos / 28;
	mostra("Se passaram "+ quantidadeGeracoes +  " gerações.");

</script>