<meta charset="UTF-8">

<script>

	function pulaLinha() {

		document.write("<br>");
		document.write("<br>");
	}

	function mostra(valor) {

		document.write(valor);
		pulaLinha();
	}

	var minhaIdade = 23;
	var idadeIrmao = 22;
	var diferencaIdade = minhaIdade - idadeIrmao;
	mostra("A diferença de idade entre Eu e meu Irmão é de "+ diferencaIdade +  " ano(s)");

</script>