<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");
    }

    var titulo = "Bem-vindo ao meu programa!";

    document.write("<h1>" + titulo + "</h1>");

    pulaLinha();

    document.write("Vocês não sabem o que tive que aprender para fazer isso!");

    pulaLinha();

    document.write("Contudo, assistindo os vídeos e estudando ...");

    pulaLinha();

    document.write("Eu vou mais longe!");

    pulaLinha();

</script>