<meta charset="UTF-8">

<script>

	function pulaLinha() {

		document.write("<br>");
		document.write("<br>");
	}

	function mostra(valor) {

		document.write(valor);
		pulaLinha();
	}

    var ano = 2016;

    mostra("Flávio tem " + (ano - 1977) + " anos");
    //pulaLinha();
    mostra("Joaquim tem " + (ano - 1996) + " anos");
    //pulaLinha();
    ano = 2017;
    mostra("Barney tem " + (ano - 1976) + " anos");

</script>