<meta charset="utf-8">

<script type="text/javascript">
	
function pulaLinha() {

	document.write("<br><hr><br>");

}

function mostra(frase) {

	document.write("<big>" + frase + "</big>");
	pulaLinha();

}

var ano = 2018;

mostra("Eu nasci em : " + (ano - 23));

mostra("Paulo nasceu em : " + (ano - 26));

mostra("Adriano nasceu em : " + (ano - 32));


</script>