<meta charset="utf-8">
<canvas width="600" height="400"></canvas>

<script>
    
    var limiteX = 600;
    var tela = document.querySelector('canvas');
    var pincel = tela.getContext('2d');
    pincel.fillStyle = 'lightgray';
    pincel.fillRect(0, 0, limiteX, 400);

    function desenhaCirculo(x, y, raio) {

    	pincel.fillStyle = "blue";
    	pincel.beginPath();
    	pincel.arc(x, y, raio, 0, 2 * Math.PI);
    	pincel.fill();
    }

    function limpaTela() {

    	pincel.clearRect(0,0,limiteX,400);

    }

    var raio = 20;
    var sentido = 1;

    function atualizaTela() {
  
        limpaTela();

        if(raio > 30){
            sentido = -1;
        }else if( raio < 20){
            sentido = 1;
        }

        desenhaCirculo(300, 200, raio);
        raio = raio + sentido;
    }
    
    setInterval(atualizaTela, 20);

</script>