<meta charset="utf-8">
<canvas width="600" height="400">
    
</canvas>

<script>

    var tela = document.querySelector('canvas');
    var pincel = tela.getContext('2d');
    pincel.fillStyle = 'lightgray';
    pincel.fillRect(0, 0, 600, 400);

    var x = 20;
    var y = 20;

    var esquerda = 37;
    var cima = 38;
    var direita = 39;
    var baixo = 40;

    var taxa = 10;

    function desenhaCirculo(x, y, raio) {

        pincel.fillStyle = 'blue';
        pincel.beginPath();
        pincel.arc(x, y, raio, 0, 2 * Math.PI);
        pincel.fill();
    }

    function limpaTela() {

        pincel.clearRect(0, 0, 600, 400);
    }

    function atualizaTela() {

        limpaTela();
        desenhaCirculo(x, y, 10);
    }

    setInterval(atualizaTela, 5);

    function leDoTeclado(evento) {

        if(evento.keyCode == 37){
            x = x - taxa;
        }else if(evento.keyCode == 38){
            y = y - taxa;
        }else if(evento.keyCode == 39){
            x = x + taxa;
        }else if(evento.keyCode == 40){
            y = y + taxa;
        }
        
    }

   document.onkeydown = leDoTeclado;

</script>