<meta charset="utf-8">

<script type="text/javascript">

	var ano = 2016;
	document.write("Flávio tem " + (ano - 1956) + " anos" + "<br>");
    document.write("Joaquim tem " + (ano - 1995) + " anos" + "<br>");
    ano = 2017;
    document.write("Barney tem " + (ano - 2000) + " anos");

</script>