<meta charset="utf-8">

<script type="text/javascript">

	document.write("Minha média de gastos nas últimas 4 viagens, foi: " + "<br>");
	document.write((200 + 100 + 300 + 400) / 4);

</script>