<meta charset="utf-8">

<script type="text/javascript">
	document.write("Meu primeiro texto em JS");
	document.write("<br>");
	document.write("Meu ano de nascimento é " + (2018-23));
	document.write("<br>");
	document.write("A média das idades é: " + (24 + 26 + 28)/3);
	document.write("<br>");
	document.write();
</script>