<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

}

    function mostra(frase) {

        document.write("<big>" + frase + "</big>");
        pulaLinha();
}
	
	function calculaImc(peso, altura) {

		return peso / (altura * altura);
}

var totalImc = calculaImc(72,1.85) + calculaImc(85,1.90);

mostra("O total dos IMC's é: " + totalImc);

</script>