<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

}

    function mostra(frase) {

        document.write("<big>" + frase + "</big>");
        pulaLinha();
}
	
	function calculaImc(peso, altura) {

		imc = peso / (altura * altura);
		mostra("O IMC calculado é " + imc);
		pulaLinha();
}

calculaImc(72,1.85);


</script>