<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

}

    function mostra(frase) {

        document.write("<big>" + frase + "</big>");
        pulaLinha();
}
	
	function calculaImc(peso, altura) {

		imc = peso / (altura * altura);
		return imc;
}

var imcFlavio = calculaImc(72,1.85);
var imcAntonio = calculaImc(80,1.75);

mostra(imcAntonio);
mostra(imcFlavio);

</script>