<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

}

    function mostra(frase) {

        document.write("<big>" + frase + "</big>");
        pulaLinha();
}
	
	function calculaImc(peso, altura) {

		return peso / (altura * altura);
}

var nome = prompt("Informe seu nome");
var alturaInformada = prompt(nome + ", informe sua altura.");
var pesoInformado = prompt(nome + ", informe seu peso.");


mostra(nome + ", seu IMC é: " + calculaImc(pesoInformado, alturaInformada));

</script>