.corpo-site > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}
.citacao {
    background-color: #D9E5E3;
    border: 0.5rem solid #C2CCCA;
    width: 30ch;
    box-sizing: border-box;
    margin: 1em 2em;
    padding: 10px;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}
.citacao::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    color: #bbb;
    line-height: .8;
}
.citacao > p {
    position: relative;
}
.citacao:hover,
.citacao:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transition-delay: 0s, 1s;
}
.citacao:nth-of-type(odd) {
    float: right;
}
.citacao:nth-of-type(odd):hover,
.citacao:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}
.citacao:nth-of-type(even) {
    float: left;
}
.citacao:nth-of-type(even):hover,
.citacao:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}
.habilidades th {
    color: white;
    font-weight: bold;
    background-color: #851944;
}
.habilidades thead th {
    background-color: #3C1D3D;
}
.habilidades td {
    background-color: #eee;
}
.habilidades th,
.habilidades td {
    padding: 1em;
}
.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
}
.habilidades {
    margin: 1em 0;
}
.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}
.habilidades [rowspan] {
    vertical-align: middle;
}