.foto-home {
    height: 200px;
    border-radius: 100px;
    box-shadow: 0 0 1em #000;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    /* Meus ajustes */
    font-size: 1.5em;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    /* Meus ajustes */
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    /* Meus ajustes */
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    /* Meus ajustes */
    font-size: 4em;
    -webkit-transform: rotate(-5deg) skew(-10deg);
            transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
    animation: flutua 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.saudacao em:hover {
    animation-play-state: paused;
}
.botao-index {
    background-color: #C54974;
    color: white;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    /* Meus ajustes */
    padding: .5em;
    font-size: 1.25em;
    margin: 2em auto;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    box-shadow: 0 0 1em #FA9;
    text-decoration: none;
    transition: .5s;
}
.secao-inicio {
    /* Meus ajustes */
    padding: 2em;
}
.secao-inicio h2 {
    text-transform: uppercase;
    /* Meus ajustes */
    font-size: 3em;
    text-shadow: 5px 5px #000;
    margin-bottom: .5em;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.trabalhos {
    background-color: #3C1D3D;
    /* Meus ajustes */
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    background-image: linear-gradient(135deg,
    transparent,
    transparent 14px,
    rgba(0,0,0,.1) 14px,
    rgba(0,0,0,.1) 15px,
    transparent 15px,
    transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    display: flex;
    /* Meus ajustes */
    border-bottom: .5em solid black;
    border-top: .5em solid #000;

}
.trabalhos li {
    flex: 1;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.legenda_img_trabalho {
    text-align: center;
    color: #F2FFFC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
}
.blog {
    background-color: #999;
    color: #FFF;
    /* Meus ajustes */
    border-bottom: .5em solid #851944;
    position: relative;
    background-image: linear-gradient(45deg,
        transparent,
        transparent 14px,
        rgba(255, 255, 255, 0.1) 14px,
        rgba(255, 255, 255, 0.1) 15px,
        transparent 15px,
        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.inicio-post {
    background-color: #FFF;
    color: #000;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 6em;
    padding: 1em;
    width: 50%;
    display: none;
}
.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}
.blog a:hover,
.blog a:focus {
    background-color: #F2FFFC;
    color: #F26;
}
.blog small {
    /* Meus ajustes */
    position: relative;
    top: -2em;
}
.blog li {
    width: 30%;
}
.blog li a {
    color: #FCF;
    /* Meus ajustes */
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    /* Meus ajustes */
    padding: 2em;
}
footer a {
    color: #F99;
}
footer a:hover, footer a:hover  {
    color: red;
}
footer h2 {
    /* Meus ajustes */
    font-size: 3em;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}
.titulo-site {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}
.subtitulo-texto {
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 0.9em;
}
.banner-topo  {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;
    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;
    animation: aparece 0.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    clear: both;
}
@keyframes aparece {
    0%{
        opacity: 0%;
        transform: scale(0.0001);
    }
}
.banner-topo  {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
}
.lista-palavras {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: #D5447E;
    position: absolute;
}
/* Palavras em destaque  - Início*/
.eficiencia {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
    opacity: .3;
}

.boas-praticas {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}

.css3 {
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}

.html5 {
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}

.javascript {
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
    opacity: .3;
}

.acessibilidade {
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}

.responsivo {
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}

.otimizacoes {
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}

.agilidade {
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}

.design {
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
/* Palavras em destaque - Fim*/