.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio li {
    flex: 1 1 45%;
    border: black 8px solid;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: white;
}

.portfolio li:first-child {
    flex-basis: 100%;
}

.portfolio img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}