body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}
h1,
h2 
.subtitulo-texto{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
}
.titulo-site {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    border-bottom: .5rem solid #000;
}
.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
    padding-bottom: 1em;
}
main a {
    color: #851944;
}
main a:hover,
main a:focus,
footer a:focus,
footer a:hover {
    color: red;
}
main p {
    text-align: justify;
    margin: 1em 0;
}
.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
}
.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}
.navegacao-site a:hover,
.navegacao-site a:focus {
    text-shadow: 0 0 2px pink;
}
.navegacao-site h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.navegacao-site > h1 {
    font-size: 1em;
}
.rodape-pagina {
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-shadow: 1px 1px black;
    background-image: radial-gradient(ellipse at left bottom,
        rgba(60, 29, 61, 0.8),
        rgba(60, 29, 61, 0.8) 65%,
        black 65%,
        black 70%,
        transparent 70%);
    background-size: 25% 100%;
}
.corpo-site {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
    animation: aparece 2s;
}
@keyframes aparece {
    0% {
        opacity: 0;
        transform: scale(0.001);
    }
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
.icones-redes-sociais li {
    display: inline-block;
}
.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}
.github {
    background-image: url(../img/github.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}
.linkedin {
    background-image: url(../img/linkedin.png);
}
main {
    width: calc(100% - 0.9 * 200px);
    float: left;
    padding-bottom: 4em;
}
.navegacao-site, .profile-foto {
    border-left: .5em solid black;
    border-bottom: .5em solid black;
    box-sizing: border-box;
}
.navegacao-site {
    width: calc(0.9 * 200px);
    float: right;
    position: relative;
    top: 200px;
}
.profile-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
}
.icones-redes-sociais a {
    position: relative;
}
.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
}
.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}