<canvas width="400" height="300">
	

</canvas>

<script>

var tela = document.querySelector("canvas");
var pincel = tela.getContext("2d");

pincel.fillStyle = "#009900";
pincel.fillRect(0,0,400,300);

pincel.fillStyle = "#FFFF00";
pincel.beginPath();
pincel.moveTo(200,30);
pincel.lineTo(370,150);
pincel.lineTo(30,150);
pincel.fill();

pincel.fillStyle = "#FFFF00";
pincel.beginPath();
pincel.moveTo(200,270);
pincel.lineTo(370,150);
pincel.lineTo(30,150);
pincel.fill();

pincel.fillStyle = "darkblue";
pincel.beginPath();
pincel.arc(200,150,75,0,2 * 3.14);
pincel.fill();

</script>