<canvas width="600" height="400">
	
</canvas>

<script>

var tela = document.querySelector("canvas");
var pincel = tela.getContext("2d");

//cabeça
pincel.fillStyle = "darkgreen";
pincel.fillRect(0,0,350,300);
pincel.fill();

//olho direito
pincel.fillStyle = "black";
pincel.fillRect(45,50,90,90);
pincel.fill();

//olho esquerdo
pincel.fillStyle = "black";
pincel.fillRect(205,50,90,90);
pincel.fill();

//nariz
pincel.fillStyle = "black";
pincel.fillRect(135,140,70,100);
pincel.fill();

//boca parte 1
pincel.fillStyle = "black";
pincel.fillRect(95,190,40,110);
pincel.fill();

//boca parte 2
pincel.fillStyle = "black";
pincel.fillRect(205,190,40,110);
pincel.fill();

</script>